.login-background {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}

.card {
	background-color: #ffffff;
	width: 100%;
	max-width: 480px;
	border: none;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.card-body {
	padding: 2rem;
}
